body {
  background: #f8f8f8;
}

.src-App-Containers-First-___first__root___2LEYR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.src-App-Containers-First-___first__title___2BYvp {
  font-size: 64px;
  font-size: 4rem;
  font-family: 'Fredericka the Great', cursive;
}

.src-App-Containers-First-___first__content___1J4Vx {
  font-family: 'Josefin Slab', serif;
}

/*h1 {
  background: $yellow;
}*/
.src-App-Containers-Second-___second__bg___3TVrr {
  font-size: 160px;
  font-size: 10rem;
  background: #eee;
  color: #555;
}
