$yellow: #fc0;

:global(body) {
  background: #f8f8f8;
}

.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.title {
  font-size: 4rem;
  font-family: 'Fredericka the Great', cursive;
}
.content {
  font-family: 'Josefin Slab', serif;
}
/*h1 {
  background: $yellow;
}*/
